.light-mode .edit-card {
  background-color: #ffffff;
  color: #232121;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.light-mode .edit-card .card-title {
  color: #232121;
}

.light-mode .edit-card .form-label {
  color: #4b5563;
}

.dark-mode .edit-card {
  background-color: #1e293b;
  color: #f9fafb;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.dark-mode .edit-card .card-title {
  color: #445b7b;
}

.dark-mode .edit-card .form-label {
  color: #e2e8f0;
}
.dark-mode .edit-card .form-control {
  color: #ffffff;
  background-color: #121821;
}

@media (max-width: 768px) {
  .edit-card {
    max-width: 90%;
    padding: 1rem;
  }

  .edit-card .card-title {
    font-size: 1.2rem;
    text-align: center;
  }

  .edit-card .form-label {
    font-size: 0.95rem;
  }

  .edit-card .form-control {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .edit-card .btn {
    width: 100%;
    margin-top: 0.5rem;
  }
}

/* Móvil */
@media (max-width: 350px) {
  .edit-card {
    max-width: 95%;
    padding: 0.8rem;
  }

  .edit-card .card-title {
    font-size: 1rem;
  }

  .edit-card .form-label {
    font-size: 0.9rem;
  }

  .edit-card .form-control {
    font-size: 0.85rem;
  }
}
