.light-mode .navbar,
.dark-mode .navbar {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  z-index: 100;
  background-color: inherit;
  box-shadow: inherit;
}

.light-mode .navbar-container,
.dark-mode .navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.light-mode .navbar-left,
.dark-mode .navbar-left {
  display: flex !important;
  align-items: center !important;
}

.navbar-logo {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.navbar-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.light-mode .navbar-menu,
.dark-mode .navbar-menu {
  display: flex !important;
}

.light-mode .navbar-menu ul,
.dark-mode .navbar-menu ul {
  display: flex !important;
  list-style: none !important;
  gap: 2rem !important;
  margin: 0 !important;
  padding: 0 !important;
  align-items: center;
}

.navbar-link {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: inline-block;
}

.light-mode .navbar-link:hover {
  transform: scale(1.05);
  color: #80a3d0;
}

.dark-mode .navbar-link:hover {
  transform: scale(1.05);
  color: #34d399;
}

.light-mode .navbar-link.active {
  color: #4caf50;
  transform: translateY(-3px);
  font-weight: bold;
  transition: all 0.3s ease;
}

.dark-mode .navbar-link.active {
  color: #34d399;
  transform: translateY(-3px);
  font-weight: bold;
  transition: all 0.3s ease;
}

.light-mode .navbar {
  background-color: #efefef;
  box-shadow: 0 4px 4px rgba(200, 200, 200, 0.444);
}

.light-mode .navbar-title,
.light-mode .navbar-link {
  color: #232121;
}

.light-mode .navbar-logo {
  filter: none;
}

.dark-mode .navbar {
  background-color: #1f2937;
  box-shadow: 0 2px 4px rgba(212, 209, 209, 0.73);
}

.dark-mode .navbar-title,
.dark-mode .navbar-link {
  color: #f9fafb;
}

.dark-mode .navbar-logo {
  filter: invert(1) brightness(2);
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-logo {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .navbar-menu ul {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .navbar-link {
    width: 100%;
    text-align: left;
  }
}
